body {
	font-family: "Open Sans", sans-serif;
	margin-top: 70px;
}

div a {
	text-decoration: none;
	font-size: 16px;
}

.logo {
	display: inline-block;
	margin-left: 170px;
}

.form-menu {
	display: inline-block;
	float: right;
	margin-right: 200px;

}
a {
	padding-left: 80px;
	font-size: 16px; 
	color: rgb(64, 64, 64);
	line-height: 1.2;  
}

.form-header {
  font-size: 50px;
  color: rgb(59, 59, 59);
  font-weight: bold;
}
.header {
	margin-left: 170px;
	margin-top: 70px;
}

.text {
  font-size: 22px;
  color: rgb(59, 59, 59);
  line-height: 1.545;
}
img {
	background-repeat: no-repeat;
}

.burger {
	margin-left: 170px;
}
button {
   border: none;
   color: white;
   font-weight: bolder;
   padding: 20px;
   font-size: 15px;
   cursor: pointer;
   border-radius: 70px;
   width: 150px;
}

.btn {
   border: 1px solid #ff9800;
   color:#ff9800;
   background-color: white;
}

.btn:hover {
   background: #e68a00;
   color: white;
}

